.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        width: 250px;
    }
    .search-box {
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 15px;
        margin: 0px 20px;

        .MuiInputBase-root {
            flex: 1;
        }

        .searchIcon {
            cursor: pointer;
        }
    }
}
.icons-menu-list {
    padding-right: 5px;
}
