.Admin {
    .form {
        width: 300px;
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-top: 10%;
        .form-group {
            margin-bottom: 10px;
            .MuiFormControl-root {
                width: 100%;
            }
        }
        button {
            margin-top: 20px;
        }
    }
}
